<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Getting Started: Serving Web Content</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script type="text/javascript" charset="utf8" src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js'></script>
		<script type="text/javascript" charset="utf8" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/dataTables.jqueryui.min.js"></script>
    	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.jqueryui.min.css"/>
	</head>
	<body>
	    <h1 id="title1">Scoreboard</h1>
	    
	    <table id="table" class="hover row-border">
	    	<thead>
	    		<tr>
	    			<th>Name</th>
	    			<th>Score</th>
	    		</tr>
	    	</thead>
	    	<tbody>
	    		<tr th:each="score : ${scoreList}">
	    			<td th:text="${score.name}"></td>
	    			<td th:text="${score.score}"></td>
	    		</tr>
	    	</tbody>
	    	<tfoot>
	    		<tr>
	    			<td>
	    				<input type="text" id="nameInput" placeholder="Name"></input>
	    				<br>
						<button onclick="addScore();">Add row</button>
	    			</td>
	    			<td>
	    				<input style="margin-bottom: 30px;" type="text" id="scoreInput" placeholder="Score"></input>
	    			</td>
	    		</tr>
	    	</tfoot>
	    </table>
	</body>
	<script type="text/javascript">
		var table;
	
		$(document).ready(function(){
			table = $('#table').DataTable({
				"createdRow": function(row, data, dataIndex) {
					$(row).find('td').css("padding-left", "20px");
				},
				"order": [1,"desc"],
			});
		});
		
		function addScore() {
			//adding scores in the 'database'
			var name = "";
			name = $('#nameInput').val();
			var score = 0;
			score = $('#scoreInput').val();
			var url = "/addScore";
			var data = { "name": name, "score": score}
			
			//post request to send data
			$.ajax({
				url: url,
				method: "POST",
				contentType: "application/json",
				data: JSON.stringify(data),
				dataType: 'json',
				success: function(data) {
					//actually drawing row in frontend
					drawRow(name, score);
				}
			});
		}
		
		function drawRow(name, score) {
			//adding row in frontend
			table.row.add([
	            name,
	            score,
	        ]).draw(false);
		}
		
	</script>
</html>